{% extends 'event/eventbase.html' %} {% load static %}

{% block title %}
    {{ event.judul_event }} | Atlet
{% endblock %}

{% block content %}
<h1 class="h3 mb-3"><strong>Edit Atlet</strong> {{ atlet.nama_atlet }}
</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <form method="POST">
        {% csrf_token %}
        {% comment %} <input>
        </input> {% endcomment %}
    </form>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Nama</h5>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" name="nama" placeholder="Nama..." value="{{ atlet.nama_atlet }}" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Perguruan</h5>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" name="perguruan" placeholder="Perguruan..." value="{{ atlet.perguruan }}" required>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Jenis Kelamin</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <label class="form-check">
                                <input class="form-check-input" type="radio" value="putra" name="jenis_kelamin" {% if atlet.jenis_kelamin == 'putra' %}checked{% endif %}>
                                    <span class="form-check-label">
                                        Putra
                                    </span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="radio" value="putri" name="jenis_kelamin" {% if atlet.jenis_kelamin == 'putri' %}checked{% endif %}>
                                    <span class="form-check-label">
                                        Putri
                                    </span>
                            </label>
                        </div>
                    </div>
                </div>
                <a href="{% url 'keldetailatlet' slug=event.slug %}" class="btn btn-danger">
                        <i data-feather="arrow-left" style="margin-top: -3px;"></i>
                        Kembali
                </a>
                <button class="btn btn-primary" type="submit">
                    <i data-feather="save" style="margin-top: -3px;"></i>
                    Simpan
                </button>
            </div>

            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Utusan</h5>
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" name="perwakilan" placeholder="Perwakilan..." value="{{ atlet.perwakilan }}" required>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Nomor Tanding</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            {% for bagan_kategori in bagan_kategoris %}
                            <label class="form-check">
                                <input class="form-check-input" type="radio" value="{{ bagan_kategori }}" name="nomor_tanding" {% if atlet in bagan_kategori.id_atlet.all %}checked{% endif %}>
                                    <span class="form-check-label">
                                        {{ bagan_kategori }}
                                    </span>
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}