{% extends 'event/eventbase.html' %}

{% block title %}
    Bagan Edit
{% endblock %}

{% block content %}
<h4>
    Editing: {{ bagan.judul_bagan }}
</h4>
<br>
<form method="POST">
    {% csrf_token %}

    <div class="row">

        <div class="col-12 col-lg-6">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Banyaknya Juri</h5>
                </div>
                <div class="card-body">
                    <div>
                        <label class="form-check">
                            <input class="form-check-input" type="radio" value="3" name="juri" {% if bagan.banyaknya_juri == 3 %}checked{% endif %}>
                                <span class="form-check-label">
                                    3 Juri
                                </span>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="radio" value="5" name="juri" {% if bagan.banyaknya_juri == 5 %}checked{% endif %}>
                                <span class="form-check-label">
                                    5 Juri
                                </span>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="radio" value="7" name="juri" {% if bagan.banyaknya_juri == 7 %}checked{% endif %}>
                                <span class="form-check-label">
                                    7 Juri
                                </span>
                        </label>
                    </div>
                </div>
            </div>


            
        </div>
    </div>
    <div>
        {% if putri_url in request.path %}
        <a href="{% url 'keldetailkategori' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putri' %}" class="btn btn-danger">
            <i data-feather="arrow-left" style="margin-top: -3px;"></i>
            Kembali
        </a>
        {% elif putra_url in request.path %}
        <a href="{% url 'keldetailkategori' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putra' %}" class="btn btn-danger">
            <i data-feather="arrow-left" style="margin-top: -3px;"></i>
            Kembali
        </a>
        {% endif %}
    <button class="btn btn-primary" type="submit">
        <i data-feather="save" style="margin-top: -3px;"></i>
        Simpan
    </button>
    </div>
</form>
{% endblock %}