{% extends 'event/eventbase.html' %} {% load static %}

{% block title %}
	{{ event.judul_event }}
{% endblock %}

{% block content %}
	<h1 class="h3 mb-3"><strong>Dashboard</strong> {{ event.judul_event }}</h1>
	<div class="row">
		<div class="col-12 col-md-6 col-xxl-6 d-flex order-1 order-xxl-1">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0">Semua Bagan <b>Kata</b></h5>
				</div>
				<table class="table table-hover my-0">
					<thead>
						<tr>
							<th>Judul</th>
							<th class="d-none d-xl-table-cell">-</th>
							<th class="d-none d-xl-table-cell">-</th>
							<th>Status</th>
							<th class="d-none d-md-table-cell">MISC</th>
						</tr>
					</thead>
					<tbody>
						{% for kata in kata %}
						<tr>
							<td>{{ kata.judul_bagan }}</td>
							<td class="d-none d-xl-table-cell">-</td>
							<td class="d-none d-xl-table-cell">-</td>
							<td><span class="badge {% if kata.status == 'S' %}bg-success{% else %}bg-danger{% endif %}">{{ kata.get_status_display }}</span></td>
							<td>-</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-12 col-md-6 col-xxl-6 d-flex order-2 order-xxl-1">
			<div class="card flex-fill">
				<div class="card-header">

					<h5 class="card-title mb-0">Semua Bagan <b>Kumite</b></h5>
				</div>
				<table class="table table-hover my-0">
					<thead>
						<tr>
							<th>Judul</th>
							<th class="d-none d-xl-table-cell">-</th>
							<th class="d-none d-xl-table-cell">-</th>
							<th>Status</th>
							<th class="d-none d-md-table-cell">-</th>
						</tr>
					</thead>
					<tbody>
						{% for kumite in kumite %}
						<tr>
							<td>{{ kumite.judul_bagan }}</td>
							<td class="d-none d-xl-table-cell">-</td>
							<td class="d-none d-xl-table-cell">-</td>
							<td><span class="badge {% if kumite.status == 'S' %}bg-success{% else %}bg-danger{% endif %}">{{ kumite.get_status_display }}</span></td>
							<td class="d-none d-md-table-cell">-</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
