{% extends 'staticbase.html' %} {% load static %}

{% block title %}
    Penilaian Jury
{% endblock title %}

{% block content %}
<body>

<div class="container" style="margin-top: 100px; color: black;">
{% if request.user.username == request.user.username %}
  {% if request.user.username == 'tatami1jury1' %}
    Anda Sebagai <b>JURI 1</b>
    <br>
  {% elif request.user.username == 'tatami1jury2' %}
    Anda Sebagai <b>JURI 2</b>
    <br>
  {% elif request.user.username == 'tatami1jury3' %}
    Anda Sebagai <b>JURI 3</b>
    <br>
  {% elif request.user.username == 'tatami1jury4' %}
    Anda Sebagai <b>JURI 4</b>
    <br>
  {% elif request.user.username == 'tatami1jury5' %}
    Anda Sebagai <b>JURI 5</b>
    <br>
  {% elif request.user.username == 'tatami1jury6' %}
    Anda Sebagai <b>JURI 6</b>
    <br>
  {% elif request.user.username == 'tatami1jury7' %}
    Anda Sebagai <b>JURI 7</b>
    <br>
  {% endif %}
{% endif %}
</div>

{% if bagan.bendera == True %}
<div class="container">
  <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
    {% if group == 'none' %}
    <br><br>
    <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
      <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
      </div>
      <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Silahkan Menunggu</h6>
      <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
    
      <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
        <i class="align-middle" data-feather="refresh-cw"></i>
        REFRESH
      </button> 
    </a>
    {% else %}
      {% if scored == 'scored1' %}
      <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
        <div style="display: flex; justify-content: center; align-items: center;">
          <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
        </div>
        <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Terima Kasih Anda Telah Melakukan Penilaian, Silahkan Tunggu Peserta Selanjutnya</h6>
        <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
      
        <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
          <i class="align-middle" data-feather="refresh-cw"></i>
          REFRESH
        </button> 
    
      </a>
      {% elif scored == 'scored3' %}
      <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
        <div style="display: flex; justify-content: center; align-items: center;">
          <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
        </div>
        <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Terima Kasih Anda Telah Melakukan Penilaian, Silahkan Tunggu Peserta Selanjutnya</h6>
        <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
      
          <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
            <i class="align-middle" data-feather="refresh-cw"></i>
            REFRESH
          </button> 
        </a>
      {% else %}
      <br>
      <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">
        Silahkan pilih salah satu bendera kepada atlet yang dianggap pemenang.
      </h6>
      <br><br>
      <div style="text-align: center;">
        <table style="width: 90%; table-layout: fixed; border-collapse: collapse; margin: 0 auto;">
          <tr style="height: 200px;">
            <td style="text-align: center; background-color: #525151; border-radius: 50px; width: 10%">
              <form method="POST" action="{% url 'sendbendera' event_slug=event.slug tatami_pk=tatami.pk %}">
                {% csrf_token %}
                  <input type="hidden" name="bendera" value="biru">
                  <input type="image" name="submit" src="{% static 'images/bendera-biru.png' %}" alt="Submit" style="width: 139px; margin-top: 0.2%" />
                  {% comment %} <img type="button" src="{% static 'images/bendera-merah.jpg' %}" style="width: 100px;" alt=""> {% endcomment %}
                  <br>
              </form>
            </td>
              
              <td style="width: 1%"></td>
              <td style="text-align: center; background-color: #525151; border-radius: 50px; width: 10%">
                <form method="POST" action="{% url 'sendbendera' event_slug=event.slug tatami_pk=tatami.pk %}">
                  {% csrf_token %}
                    <input type="hidden" name="bendera" value="merah">
                    <input type="image" name="submit" src="{% static 'images/bendera-merah.png' %}" alt="Submit" style="width: 150px;" />
                    {% comment %} <img type="button" src="{% static 'images/bendera-merah.jpg' %}" style="width: 100px;" alt=""> {% endcomment %}
                    <br>
                </form>
            </td>
              
          </tr>
          <tr>
            <td>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <h5 style="color: blue;">
                <b>{{ atlet2 }}</b>
              </h5>
            </td>
            <td></td>
            <td style="text-align: center;">
              <h5 style="color: red;">
                <b>{{ atlet1 }}</b>
              </h5>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <p style="margin-top: -10px;">
                <b>{{ atlet2.perguruan }}</b>
              </p>
              <p style="margin-top: -30px;">
                <b>{{ atlet2.perwakilan }}</b>
              </p>
              {% if atlet2.kata is not None %}
              <p style="margin-top: -30px;">
                <b>{{ atlet2.kata }}</b>
              </p>
              {% else %}
              <p style="margin-top: -30px;">
                <b>-</b>
              </p>
              {% endif %}
          </td>
           
          <td></td>
            
            <td style="text-align: center;">
              <p style="margin-top: -10px;">
                <b>{{ atlet1.perguruan }}</b>
              </p>
              <p style="margin-top: -30px;">
                <b>{{ atlet1.perwakilan }}</b>
              </p>
              {% if atlet1.kata is not None %}
              <p style="margin-top: -30px;">
                <b>{{ atlet1.kata }}</b>
              </p>
              {% else %}
              <p style="margin-top: -30px;">
                <b>-</b>
              </p>
              {% endif %}
          </td>
          </tr>
        </table>
      </div>
      <br><br><br>
      {% endif %}
    {% endif %}
    <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
  </div>
</div>
{% else %}
<div class="container">
  {% if detailbagan == None %}
  <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
    </div>
    <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Anda Dilarang Untuk Menilai Sebelum Atlet Telah Selesai Main dan Hormat. Silahkan Tunggu & Refresh.</h6>
    <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
  
    <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
      <i class="align-middle" data-feather="refresh-cw"></i>
      REFRESH
    </button> 
  </div>
  {% else %}

    {% if group == 'biru' %}
      {% if scored == 'scored2' %}
      <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
        <div style="display: flex; justify-content: center; align-items: center;">
          <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
        </div>
        <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Terima Kasih Anda Telah Melakukan Penilaian, Silahkan Tunggu Peserta Selanjutnya</h6>
        <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
      
        <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
          <i class="align-middle" data-feather="refresh-cw"></i>
          REFRESH
        </button> 
    
      </a>
      {% elif scored == 'scored3' %}
      <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
        <div style="display: flex; justify-content: center; align-items: center;">
          <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
        </div>
        <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Terima Kasih Anda Telah Melakukan Penilaian, Silahkan Tunggu Peserta Selanjutnya</h6>
        <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
      
        <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
          <i class="align-middle" data-feather="refresh-cw"></i>
          REFRESH
        </button> 
    
      </a>
      {% else %}
    <div>
      <p style="text-align: center;">Silahkan Nilai Peserta Di Bawah Ini :</p>
      {% if detailbagan.grup %}
      <h1 style="color: red; font-weight: bold; text-transform: uppercase; font-family: Arial Black,Arial Bold,Gadget,sans-serif; text-align: center;">{{ atlet1 }}</h1>
      {% else %}
      <h1 style="color: blue; font-weight: bold; text-transform: uppercase; font-family: Arial Black,Arial Bold,Gadget,sans-serif; text-align: center;">{{ atlet2 }}</h1>
      {% endif %}
      <h4 style="margin-top: -20px; text-transform: uppercase; font-weight: bold; color: black; text-align: center;">{{ atlet2.perwakilan }}</h3>
      <h5 style="margin-top: -20px; text-transform: uppercase; font-weight: bold; color: black; text-align: center;">{{ atlet2.perguruan }}</h5>
      <p style="margin-top: -18px; text-transform: uppercase; font-weight: bold; text-align: center;">{{ detailbagan.kata2 }}</p>
      <form method="POST" action="{% url 'sendscore' event_slug=event.slug tatami_pk=tatami.pk %}" oninput="result2.value=input2.value">
        {% csrf_token %}
        {% comment %} <input id="data-input2" style="text-align: center;" class="form-control" type="text" name="input2" oninput="validateInput1(event)" required> {% endcomment %}
        <output style="margin-bottom: 30px; position: relative; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-size: 50px; color: blue; font-weight: bold;" name="result2"><b>5.0</b></output>
        <br>
        <input class="custom-slider1" style="font-weight: bold;" type="range" name="input2" id="range2" min="5" max="10" step="0.1" value="5.0" list="tickmarks"/>
        <br>
        <button class="btn btn-primary" style="margin-bottom: 30px; position: relative; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); background-color: blue;" id="submit-btn">
          Submit
        </button> 
        <br>
        <a data-toggle="modal" data-target="#exampleModal1" style="color: white;margin-bottom: 30px; position: relative; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); background-color: blue;" class="btn btn-primary" id="submit-btn">
          Diskualifikasi 
        </a>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Apakah Anda Yakin Memberikan Diskualifikasi?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
              <button name="submit_button" value="diskualifikasi2" type="submit" class="btn btn-primary">Ya</button>
            </div>
          </div>
        </div>
      </div>
      </form>
    {% endif %}

  {% elif group == 'merah' %}
      {% if scored == 'scored1' %}
        <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
          </div>
          <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Terima Kasih Anda Telah Melakukan Penilaian, Silahkan Tunggu Peserta Selanjutnya</h6>
          <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
        
          <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
            <i class="align-middle" data-feather="refresh-cw"></i>
            REFRESH
          </button> 
      
        </a>
      {% elif scored == 'scored3' %}
        <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
          </div>
          <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Terima Kasih Anda Telah Melakukan Penilaian, Silahkan Tunggu Peserta Selanjutnya</h6>
          <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
        
          <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
            <i class="align-middle" data-feather="refresh-cw"></i>
            REFRESH
          </button> 
      
        </a>
      {% else %}
      <div>
        <p style="text-align: center;">Silahkan Nilai Peserta Di Bawah Ini :</p>
        {% if detailbagan.grup %}
        <h1 style="color: blue; font-weight: bold; text-transform: uppercase; font-family: Arial Black,Arial Bold,Gadget,sans-serif; text-align: center;">{{ atlet1 }}</h1>
        {% else %}
        <h1 style="color: red; font-weight: bold; text-transform: uppercase; font-family: Arial Black,Arial Bold,Gadget,sans-serif; text-align: center;">{{ atlet1 }}</h1>
        {% endif %}
        <h4 style="margin-top: -20px; text-transform: uppercase; font-weight: bold; color: black; text-align: center;">{{ atlet1.perwakilan }}</h3>
        <h5 style="margin-top: -20px; text-transform: uppercase; font-weight: bold; color: black; text-align: center;">{{ atlet1.perguruan }}</h5>
        <p style="margin-top: -18px; text-transform: uppercase; font-weight: bold; text-align: center;">{{ detailbagan.kata1 }}</p>
        <form method="POST" action="{% url 'sendscore' event_slug=event.slug tatami_pk=tatami.pk %}" oninput="result1.value=input1.value">
          {% csrf_token %}
          {% comment %} <input id="data-input1" style="text-align: center;" class="form-control" type="text" name="input1" oninput="validateInput1(event)" required> {% endcomment %}
          
          <output style="margin-bottom: 30px; position: relative; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-size: 50px; color: red; font-weight: bold;" name="result1"><b>5.0</b></output>
          <br>  
          <input class="custom-slider" style="font-weight: bold; color: red; accent-color: red;" type="range" name="input1" id="range1" min="5" max="10" step="0.1" value="5.0"/><b></b>
          <br>
          
          <button name="submit_button" value="submit" style="margin-bottom: 30px; position: relative; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); background-color: red;" class="btn btn-danger" id="submit-btn">
            Submit
          </button> 
          <br>
            <a data-toggle="modal" data-target="#exampleModal" style="color: white;margin-bottom: 30px; position: relative; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); background-color: red;" class="btn btn-danger" id="submit-btn">
              Diskualifikasi 
          </a>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Apakah Anda Yakin Memberikan Diskualifikasi?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                  <button name="submit_button" value="diskualifikasi1" type="submit" class="btn btn-danger">Ya</button>
                </div>
              </div>
            </div>
          </div>
        </form> 
        
      {% endif %}

  {% elif group == 'none' %}
    <div class="container" style="margin-top: 10%; margin-bottom: 25%;" >
      <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{% static 'images/jempol.jpg' %}" alt="" width="80%" height="80%" style="">
      </div>
      <h6 style="text-align: center; font-weight: bold; margin-top: 30px;">Silahkan Menunggu</h6>
      <a href="{% url 'jurypanel1' event_slug=event.slug tatami_pk=tatami.pk %}">
    
      <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%); font-weight: bold;" class="btn btn-warning" id="submit-btn">
        <i class="align-middle" data-feather="refresh-cw"></i>
        REFRESH
      </button> 

    </a>
  {% endif %}

  </div>
</div>
 
  {% comment %} {% if detailbagan == None %}
    <h1>Silahkan Tunggu</h1>
  {% else %}
    
    <div class="form-group">
        {% if group == 'merah' %}
            <h1 style="color: red; font-weight: bold; text-transform: uppercase; font-family: Arial Black,Arial Bold,Gadget,sans-serif; text-align: center;">{{ atlet1 }}</h1>
            <h4 style="margin-top: -20px; text-transform: uppercase; font-weight: bold; color: black; text-align: center;">{{ atlet1.perwakilan }}</h3>
            <h5 style="margin-top: -20px; text-transform: uppercase; font-weight: bold; color: black; text-align: center;">{{ atlet1.perguruan }}</h5>
            <p style="margin-top: -18px; text-transform: uppercase; font-weight: bold; text-align: center;">{{ detailbagan.kata1 }}</p>
            <form method="POST" action="{% url 'sendscore' event_slug=event.slug tatami_pk=tatami.pk %}">
              {% csrf_token %}
              <input id="data-input1" style="text-align: center;" class="form-control" type="text" name="input1" oninput="validateInput1(event)" required>
              <br>
              <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%);" class="btn btn-danger" id="submit-btn">
                Submit
              </button> 
            </form>
        {% elif group == 'biru' %}
        <h1 style="color: blue; font-weight: bold; text-transform: uppercase; font-family: Arial Black,Arial Bold,Gadget,sans-serif; text-align: center;">{{ atlet2 }}</h1>
        <h4 style="margin-top: -20px; text-transform: uppercase; font-weight: bold; color: black; text-align: center;">{{ atlet2.perwakilan }}</h3>
        <h5 style="margin-top: -20px; text-transform: uppercase; font-weight: bold; color: black; text-align: center;">{{ atlet2.perguruan }}</h5>
        <p style="margin-top: -18px; text-transform: uppercase; font-weight: bold; text-align: center;">{{ detailbagan.kata2 }}</p>
        <form method="POST" action="{% url 'sendscore' event_slug=event.slug tatami_pk=tatami.pk %}">
          {% csrf_token %}
          <input id="data-input2" style="text-align: center;" class="form-control" type="text" name="input2" oninput="validateInput1(event)" required>
          <br>
          <button style="margin: 0; position: absolute; left: 50%; -ms-transform: translate(-50%); transform: translate(-50%);" class="btn btn-primary" id="submit-btn">
            Submit
          </button> 
        </form>
        {% else %}
            <h1>
              askldjflksadjf
            </h1>
        {% endif %}

    </div>
{% endif %} {% endcomment %}

{% endif %}
{% endif %}


</div>



{% endblock content %}

{% block scripts %}
  <script>
    function showConfirmationModal() {
      document.getElementById("confirmationModal").style.display = "flex";
    }
  
    function hideConfirmationModal() {
      document.getElementById("confirmationModal").style.display = "none";
    }
  
    function submitForm() {
      document.getElementById("submitForm").submit();
    }

      document.getElementById('range1').addEventListener('change', (e) => {
      document.body.style.setProperty("--grid-size", e.target.value + 'rem');
      document.body.style.setProperty("font-weight: bold;");
      });

      document.getElementById('range2').addEventListener('change', (e) => {
        document.body.style.setProperty("--grid-size", e.target.value + 'rem');
        document.body.style.setProperty("font-weight: bold;");
        });

      function validateInput1(event) {
      const input = event.target.value;
      const isValid = /^([5-9](\.\d)?|10)$/.test(input);

      if (!isValid) {
        event.target.setCustomValidity("Please enter a numeric value between 5 and 10.");
      } else {
        event.target.setCustomValidity("");
      }
    }

    // function validateInput2(event) {
    //   const input = event.target;
    //   const value = parseFloat(input.value);
      
    //   if (isNaN(value) || value < 5 || value > 10) {
    //     input.setCustomValidity('Please enter a number between 5 and 10.');
    //   } else {
    //     input.setCustomValidity('');
    //   }
    // }

    function validateInput2(event) {
    const input = event.target.value;
    const isValid = /^([5-9](\.\d)?|10)$/.test(input);

      if (!isValid) {
        event.target.setCustomValidity("Please enter a numeric value between 5 and 10.");
      } else {
        event.target.setCustomValidity("");
      }
    }
</script>
{% endblock scripts %}

  
</body>

    
