{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2/css/bootstrap.min.css' %}" crossorigin="anonymous">
    <title>Kata Scoringboard</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    div.middle-div {
      position: absolute;
      top: 35%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    

    
    .container {
      width: 100%;
      max-width: 1770px;
      margin: 0 auto;
      color: white;
    }

    .row {
      display: flex;
    }

    .col {
      flex: 1;
      padding: 10px;
    }

    .score {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

}
</style>

<div id="timerS" name="asdf">

</div>

{% url 'keldetailbagan' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putra' as putra_url %}
{% url 'keldetailbagan' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putri' as putri_url %}
<body style="width: 100%; height: 100%; background: #262626;">    
    <audio id="timerSound2">
        <source src="{% static 'audio/asdf2.mp3' %}" type="audio/mpeg">
    </audio>
<div id="bendera-div" class="middle-div" style="text-align: center; width: 100%">
    <table style="width: 80%; table-layout: fixed; border-collapse: collapse; margin: 0 auto;">
        <div style="display: inline-block;">
        <td style="text-align: center; background-color: #1a1a1a; border-radius: 70px;">
            <b>
                <span id="benderabiru" style="font-size: 300px; vertical-align: middle; color: blue;" name="0">
                    0
                </span>
            </b>
            <img src="{% static 'images/bendera-biru.png' %}" style="width: 46%; margin-top: 0.2%; position: static;" alt="" >
            </td>
        </div>
        <td style="width: 3%"></td>
        <td style="text-align: center; background-color: #1a1a1a; border-radius: 70px;">
            <div style="display: inline-block; width: 200px;"> <!-- Adjust the width as needed -->
                <b>
                    <span id="benderamerah" style="font-size: 300px; vertical-align: middle; color: red;" name="0">
                        0
                    </span>
                </b>
            </div>
                <img src="{% static 'images/bendera-merah.png' %}" style="width: 50%; position: static;" alt="">
        </td>
    </table>
</div>

<div id="normal-div">
    <!-- Atlet 1 -->
    <div id="peserta1_warna" style="table-layout: fixed; width: 100%; background: linear-gradient(90deg, #808080 0%, rgba(217, 217, 217, 0) 80%); box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25) inset;">
        <table style="border-collapse: collapse; width: 100%;">
            <tr style="vertical-align: top;">
                <td id="peserta1_forki" style="width: 10%; padding: 0; margin: 0 auto; text-align: center">
                    <img src="{% static 'images/forki.png' %}" alt="" width="110px" id="peserta1_forkig">
                </td>
                <td id="peserta1_namadiv" style="width: 1300px; padding: 0; padding-top: 5px; overflow: hidden; display: inline-block; white-space: nowrap; text-overflow: ellipsis; color: white; font-size: 96px; font-family: Khmer; font-weight: 400; font-family: Arial, Helvetica, sans-serif;">
                    <b id="peserta1_nama" style="color: white; font-size: 96px; font-family: Khmer; font-weight: 400; font-family: Arial, Helvetica, sans-serif;">
                        Peserta 1
                    </b>
                </td>
            </tr>
        </table>
    </div>

    <div >
        <div class="container">
            <div class="row">
                <div class="col" style="margin-top: 75px;" id="peserta1_detail">
                    
                    <h1 id="peserta1_perwakilan" style="text-align: left; font-weight: bold">-</h1>
                    <h1 id="peserta1_perguruan" style="text-align: left; font-weight: bold">-</h1>
                    <h1 id="peserta1_kata" style="text-align: left; font-size: 50px; color: #e6fa78; font-weight: bold">-</h1>
                
                </div>
                <div class="col" id="peserta1_score1">
                    <h1 id="peserta1_score" class="score" style="text-align: right; margin-top: -10px; font-size: 185px; color: #808080; font-family: Arial Black,Arial Bold,Gadget,sans-serif;">00.0</h1>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div id="modes" style="display: none;">
    <!-- Atlet 2 -->

    {% comment %} <div id="peserta2_warna" style="width: 75%; height: 100%; background: linear-gradient(90deg, #808080 0%, rgba(217, 217, 217, 0) 100%); box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25) inset">
        <div style="display: flex; align-items: center; height: 100%;">
            <div style="margin-top: 15px; margin-bottom: 15px; margin-left: 50px;">
                <div style="color: white; font-size: 96px; font-family: Khmer; font-weight: 400; font-family: Arial, Helvetica, sans-serif; word-wrap: break-word;">
                    <img stlye="margin-top: 10px;" src="{% static 'images/forki.png' %}" alt="" width="15%" height="100%">
                    <span id="peserta2_nama">Peserta 2</span>
                </div>  
            </div>
        </div>
    </div> {% endcomment %}

    <div id="peserta2_warna" style="table-layout: fixed; width: 100%; background: linear-gradient(90deg, #808080 0%, rgba(217, 217, 217, 0) 80%); box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25) inset;">
        <table style="border-collapse: collapse; width: 100%;">
            <tr style="vertical-align: top;">
                <td style="width: 10%; padding: 0; margin: 0 auto; text-align: center">
                    <img src="{% static 'images/forki.png' %}" alt="" width="110px">
                </td>
                <td style="width: 1300px; padding: 0; padding-top: 10px; overflow: hidden; display: inline-block; white-space: nowrap; text-overflow: ellipsis; color: white; font-size: 96px; font-family: Khmer; font-weight: 400; font-family: Arial, Helvetica, sans-serif;">
                    <b id="peserta2_nama" style="color: white; font-size: 96px; font-family: Khmer; font-weight: 400; font-family: Arial, Helvetica, sans-serif;">
                        Peserta 2
                    </b>
                </td>
            </tr>
        </table>
    </div>

    <div class="container" style="margin-bottom: 15px;">
        <div class="row">
          <div class="col" style="margin-top: 50px;">
            <h1 id="peserta2_perwakilan" style="text-align: left; font-weight: bold">-</h1>
            <h1 id="peserta2_perguruan" style="text-align: left; font-weight: bold">-</h1>
            <h1 id="peserta2_kata" style="text-align: left; font-size: 50px; color: #e6fa78; font-weight: bold">-</h1>
          </div>
          <div class="col">
            <h1 id="peserta2_score" class="score" style="text-align: right; margin-top: 10px; font-size: 185px; color: #808080; font-family: Arial Black,Arial Bold,Gadget,sans-serif;">00.0</h1>
          </div>
        </div>
    </div>
</div>
</div>


    <div class="bottom-div"style="background-color: #1a1a1a; position: fixed; width: 100%; bottom: 0;">
        <table style="width: 100%; table-layout: fixed; border-collapse: collapse; margin: 0 auto;">
            <tr>
                <td style="width: 33.33%; text-align: center; background-color: #1a1a1a;">
                    <!-- <h1 style="font-size: 75px; color: white">TATAMI</h1> -->
                    <h1 style="font-size: 75px; color: #e6fa78;">
                        {{ tatami }}
                    </h1>
                </td>
                <td style="width: 33.33%; text-align: center; background-color: #1a1a1a;">
                    <h1 class="score" style="font-size: 200px; color: #e6fa78; font-family: Arial Black,Arial Bold,Gadget,sans-serif;">
                        <span id="minutes">05</span>:<span id="seconds">00</span>
                    </h1>
                </td>
                <td style="width: 33.33%; text-align: center; background-color: #1a1a1a;">
                    <img style="margin-top: 45px; width: 100%;" src="{% static 'bagan/img/logo.png' %}" alt="" height="70%">
                </td>
            </tr>
        </table>
    </div>
    
    <div id="timerData"
        data-event-slug="{{ event.slug }}"
        data-kategori-slug="{{ kategori.slug }}"
        data-bagan-pk="{{ bagan.pk }}"
        data-detailbagan-pk="{{ detailbagan.pk }}"
        data-tatami-pk="{{ tatami.pk }}"
        {% if 'putra' in request.path %}
            data-jenis-kelamin="putra"
        {% endif %}
        {% if 'putri' in request.path %}
            data-jenis-kelamin="putri"
        {% endif %}
    ></div>

{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
{% comment %} <script src="{% static 'jquery/src/ajax.js' %}"></script>
<script src="{% static 'jquery/src/jquery.js' %}"></script> {% endcomment %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>


<script>
    $(document).ready(function() {      
        const timerSound2 = document.getElementById("timerSound2");
        var timerS = document.getElementById("timerS");
        var benderaDiv = document.getElementById("bendera-div");
        var normalDiv = document.getElementById("normal-div");
        var csrftoken = $('[name=csrfmiddlewaretoken]').val();
        var minutesLabel = $("#minutes");
        var secondsLabel = $("#seconds");
        var totalSeconds = 300;
        
        var isTimerRunning = false;  // Variable to track the timer running state

        var timerData = $("#timerData");
        var eventSlug = timerData.data("event-slug");
        var kategoriSlug = timerData.data("kategori-slug");
        var baganPk = timerData.data("bagan-pk");
        var detailbaganPk = timerData.data("detailbagan-pk");
        var tatamiPk = timerData.data("tatami-pk");
        var jenisKelamin = timerData.data("jenis-kelamin");
        var timerStatusUrl = "/kelevent/" + eventSlug + "/kata/" + kategoriSlug + "/";
        var resetUrl = "{% url 'resettimer2' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putra' bagan_pk=bagan.pk detailbagan_pk=detailbagan.pk tatami_pk=tatami.pk %}";

        if (jenisKelamin === "putra") {
            timerStatusUrl += "putra/";
        } else if (jenisKelamin === "putri") {
            timerStatusUrl += "putri/";
        }
        timerStatusUrl += baganPk + "/" + detailbaganPk + "/" + tatamiPk + "/timer_status/";

        benderamerah.style.opacity = 1;
        
        // Function to update the timer status using AJAX
        function updateTimerStatus() {
            
            $.ajax({
                url: timerStatusUrl,
                method: "GET",
                success: function(data) {
                    isTimerRunning = (data.timer_status === "Running");
                    isTampilkan = (data.tampilkan_status === "Tampilkan");
                    isReset = (data.timer_reset === "Reset");
                    isChanged = (data.change === "Change");

                    console.log(data.tampilkan_status)
                    console.log(totalSeconds)

                    document.body.addEventListener("mousemove", function () {
                    }) 

                    if (data.mode === 'penyisihan') {
                        benderaDiv.style = "display: none"
                        normalDiv.style = ""
                        if (data.mode === 'bendera') {
                            benderaDiv.style = ""
                            normalDiv.style = "display: none"
                        } else {
                            console.log('sdfsdkjf')
                            var modes = document.getElementById('modes');
                            modes.style.display = 'none';

                            var peserta1_nama = document.getElementById('peserta1_nama');
                            var peserta1_namadiv = document.getElementById('peserta1_namadiv');
                            peserta1_namadiv.style = "width: 1300px; padding: 0; overflow: hidden; display: inline-block; white-space: nowrap; text-overflow: ellipsis; color: white; font-size: 96px; font-family: Khmer; font-weight: 400; font-family: Arial, Helvetica, sans-serif;"
                            var peserta1_forki = document.getElementById('peserta1_forki');
                            var peserta1_forkig = document.getElementById('peserta1_forkig');
                            var peserta1_detail = document.getElementById('peserta1_detail');
                            peserta1_detail.style = "margin-top: 200px; font-size: 300px;"
                            peserta1_forki.style = "padding: 0; margin: 0 auto; text-align: center; width: 15%;"
                            peserta1_forkig.style = "width: 200px;"
                            peserta1_nama.textContent = data.peserta1_nama;
                            peserta1_nama.style = "color: white; font-size: 200px; font-family: Khmer; font-weight: 500; font-family: Arial, Helvetica, sans-serif;"
                            var peserta1_warna = document.getElementById('peserta1_warna');
                            var peserta1_score = document.getElementById('peserta1_score');
                            peserta1_score.style = "text-align: right; margin-top: -30px; font-size: 300px; font-family: Arial Black,Arial Bold,Gadget,sans-serif;"

                            var peserta1_score1 = document.getElementById('peserta1_score1');
                            peserta1_score1.style = "margin-top: 110px;" 

                            var peserta1_perwakilan = document.getElementById('peserta1_perwakilan');
                            peserta1_perwakilan.textContent = data.peserta1_perwakilan;
                            var peserta1_perguruan = document.getElementById('peserta1_perguruan');
                            peserta1_perguruan.textContent = data.peserta1_perguruan;
                            var peserta1_kata = document.getElementById('peserta1_kata');
                        
                            if (data.peserta1_warna === 'merah') {
                                peserta1_warna.style.background = "linear-gradient(90deg, #FF4949 0%, rgba(217, 217, 217, 0) 100%) ";
                                peserta1_score.style.color = "#FF4949";
                                peserta1_kata.innerHTML = data.peserta1_kata;
                            } else {
                                peserta1_warna.style.background = "linear-gradient(90deg, #2c566e 0%, rgba(217, 217, 217, 0) 100%) ";
                                peserta1_score.style.color = "#2c566e";
                                peserta1_kata.innerHTML = data.peserta2_kata;
                            }
                        }
                    } else {
                        console.log(data.mode)
                        if (data.mode === 'bendera') {
                            benderaDiv.style = ""
                            normalDiv.style = "display: none"
                        } else {
                            benderaDiv.style = "display: none"
                            normalDiv.style = ""
                            var modes = document.getElementById('modes');
                            modes.style.display = 'inline';

                            var peserta1_score = document.getElementById('peserta1_score');
                            peserta1_score.style = "text-align: right; margin-top: 10px; font-size: 185px; font-family: Arial Black,Arial Bold,Gadget,sans-serif;"

                            var peserta1_detail = document.getElementById('peserta1_detail');
                            peserta1_detail.style = "margin-top: 50px;"
                            var peserta1_score1 = document.getElementById('peserta1_score1');
                            peserta1_score1.style = "margin-top: 10px;" 

                            var peserta1_forki = document.getElementById('peserta1_forki');
                            var peserta1_forkig = document.getElementById('peserta1_forkig');

                            peserta1_forkig.style = ""
                            peserta1_forki.style = "width: 10%; padding: 0; margin: 0 auto; text-align: center"

                            var peserta1_nama = document.getElementById('peserta1_nama');
                            peserta1_nama.textContent = data.peserta1_nama;
                            peserta1_nama.style = "color: white; font-size: 96px; font-family: Khmer; font-weight: 400; font-family: Arial, Helvetica, sans-serif;"
                            var peserta1_warna = document.getElementById('peserta1_warna');
                            peserta1_warna.style.background = "linear-gradient(90deg, #FF4949 0%, rgba(217, 217, 217, 0) 100%) ";
                            var peserta1_score = document.getElementById('peserta1_score');
                            peserta1_score.style.color = "#FF4949";
                            var peserta1_perwakilan = document.getElementById('peserta1_perwakilan');
                            peserta1_perwakilan.textContent = data.peserta1_perwakilan;
                            var peserta1_perguruan = document.getElementById('peserta1_perguruan');
                            peserta1_perguruan.textContent = data.peserta1_perguruan;
                            var peserta1_kata = document.getElementById('peserta1_kata');
                            peserta1_kata.innerHTML = data.peserta1_kata;
                            
                            var peserta2_nama = document.getElementById('peserta2_nama');
                            peserta2_nama.textContent = data.peserta2_nama;
                            var peserta2_warna = document.getElementById('peserta2_warna');
                            peserta2_warna.style.background = "linear-gradient(90deg, #2c566e 0%, rgba(217, 217, 217, 0) 100%) ";
                            var peserta2_score = document.getElementById('peserta2_score');
                            peserta2_score.style.color = "#2c566e";
                            var peserta2_perwakilan = document.getElementById('peserta2_perwakilan');
                            peserta2_perwakilan.textContent = data.peserta2_perwakilan;
                            var peserta2_perguruan = document.getElementById('peserta2_perguruan');
                            peserta2_perguruan.textContent = data.peserta2_perguruan;
                            var peserta2_kata = document.getElementById('peserta2_kata');
                            peserta2_kata.innerHTML = data.peserta2_kata;
                        }
                    }

                    if (data.timer_reset === "Reset") {
                        totalSeconds = 300

                        console.log(data.timer_reset)
                        var minutes = Math.floor(totalSeconds / 60);
                        var seconds = totalSeconds % 60;
                        minutesLabel.text(pad(minutes));
                        secondsLabel.text(pad(seconds));

                        $.ajax({
                            url: resetUrl,
                            method: "POST",
                            headers: { "X-CSRFToken": csrftoken },  // Pass the CSRF token in the headers
                            success: function(data) {
                                console.log("Timer reset successfully");
                            }
                        });

                    }

                    if (data.tampilkan_status === "Tampilkan") {
                        console.log('test')

                        toggleTimerSound()

                        function toggleTimerSound() {
                            i = timerS.getAttribute("name")
                            if (i === 'asdf') {
                                timerSound2.play()
                                timerS.setAttribute("name", "lol");
                            }
                        }

                        if (data.mode === 'penyisihan') {
                            const validate1 = document.getElementById('peserta1_score');
                            if (validate1 !== null) {
                                if (data.peserta1_warna === 'merah') {
                                    validate1.textContent = data.totalscore1;
                                } else {
                                    validate1.textContent = data.totalscore2;
                                }
                            }
                        } else if (data.mode === 'bendera') {
                            const benderamerah = document.getElementById('benderamerah');
                            const benderabiru = document.getElementById('benderabiru');

                            benderamerah.textContent = data.benderamerah
                            benderabiru.textContent = data.benderabiru
                            
                            if (data.benderamerah > data.benderabiru) {
                                toggleVisibilityMerah()
                            } else {
                                toggleVisibilityBiru()
                            }

                            function toggleVisibilityMerah() {
                                const opacityValue = (benderamerah.name === '1') ? 0 : 1;
                                benderamerah.style.opacity = opacityValue;
                                benderamerah.name = (opacityValue === 1) ? '0' : '1';
                            }

                            function toggleVisibilityMerah() {
                                if (benderamerah.name === '1') {
                                    benderamerah.style.opacity = 1;
                                    benderamerah.name = '0'
                                } else {
                                    benderamerah.style.opacity = 0;
                                    benderamerah.name = '1'
                                }
                            }

                            function toggleVisibilityBiru() {
                                if (benderabiru.name === '1') {
                                    benderabiru.style.opacity = 1;
                                    benderabiru.name = '0'
                                } else {
                                    benderabiru.style.opacity = 0;
                                    benderabiru.name = '1'
                                }
                            }

                        } else {
                            const validate1 = document.getElementById('peserta1_score');
                            const validate2 = document.getElementById('peserta2_score');

                            validate1.textContent = data.totalscore1;
                            validate2.textContent = data.totalscore2;
                        }
                    } else {
                        timerS.setAttribute("name", "asdf");
                        if (data.mode === 'bendera') {
                            const benderamerah = document.getElementById('benderamerah');
                            const benderabiru = document.getElementById('benderabiru');
                        
                            benderamerah.style.opacity = 1;
                            benderamerah.textContent = '0'
                            benderabiru.style.opacity = 1;
                            benderabiru.textContent = '0'
                        } else {
                            const validate1 = document.getElementById("peserta1_score");
                            const validate2 = document.getElementById('peserta2_score');
                            
                            validate1.textContent = "00.0";
                            
                            if (validate2 !== null) {
                                validate2.textContent = "00.0";
                            }
                        }
                    }
                }
            });
        }

        // Function to update the countup timer display
        function updateCountupTimer() {
            if (isTimerRunning) {
                totalSeconds--;
                localStorage.setItem('totalSeconds', totalSeconds);  // Store the totalSeconds value in local storage
                var minutes = Math.floor(totalSeconds / 60);
                var seconds = totalSeconds % 60;
                minutesLabel.text(pad(minutes));
                secondsLabel.text(pad(seconds));
                
            }
        }


        // Call the updateTimerStatus function every 1 second
        setInterval(updateTimerStatus, 1000);

        // Call the updateCountupTimer function every 1 second
        setInterval(updateCountupTimer, 1000);
   });

   function pad(val) {
       var valString = val.toString();
       if (valString.length < 2) {
           return "0" + valString;
       } else {
           return valString;
       }
   }
</script>

</body>

</html>


