<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>

<body style="width: 100%; height: 100%; background: #262626">
    <div style="width: 100%; height: 100%; background: linear-gradient(90deg, #FF4949 0%, rgba(217, 217, 217, 0) 100%); box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25) inset">
        <div style="display: flex; align-items: center; height: 100%;">
            <div style="margin-top: 15px; margin-bottom: 15px; margin-left: 25px;">
                <div style="color: white; font-size: 96px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
                    Welly Setia Rahman
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; margin-left: 150px; margin-top: 35px;">
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J1
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J2
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J3
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J4
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J5
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            Total
        </div>
    </div>

    <div style="display: flex; margin-left: 137.5px">
        <div style="margin-top: 50px; margin-right: 150px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; margin-right: 152.5px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; margin-right: 152.5px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; margin-right: 152.5px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; color: rgb(116, 204, 255); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            00.0
        </div>
    </div>
    

    <div style="margin-top: 6%; width: 100%; height: 100%; background: linear-gradient(90deg, #67c7ff 0%, rgba(217, 217, 217, 0) 100%); box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25) inset">
        <div style="display: flex; align-items: center; height: 100%;">
            <div style="margin-top: 15px; margin-bottom: 15px; margin-left: 25px;">
                <div style="color: white; font-size: 96px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
                    Ghea Nata Nasyilla Sagarmatha
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; margin-left: 150px; margin-top: 35px;">
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J1
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J2
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J3
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J4
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            J5
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: white; font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            Total
        </div>
    </div>

    <div style="display: flex; margin-left: 137.5px">
        <div style="margin-top: 50px; margin-right: 150px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; margin-right: 152.5px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; margin-right: 152.5px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; margin-right: 152.5px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; margin-right: 175px; color: rgb(255, 234, 118); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            0.0
        </div>
        <div style="margin-top: 50px; color: rgb(116, 204, 255); font-size: 64px; font-family: Khmer; font-weight: 400; word-wrap: break-word;">
            00.0
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="team1kata">
        <button type="submit">Submit</button>
    </form>

</body>

</html>