{% extends 'event/eventbase.html' %} {% load static %}

{% block title %}
    {{ event.judul_event }} | Tambah Bagan {{ kategori.judul_kategori }}
{% endblock %}

{% block link %}
<link href="{% static 'event/css/bracket.css' %}" rel="stylesheet">
{% endblock link %}

{% block style %}
{% endblock style %}

{% block content %}
    {% url 'keldetailkategori' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putra' as putra_url %}
    {% url 'keldetailkategori' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putri' as putri_url %}
    <h1 class="h3 mb-3"><strong>Tambah Bagan</strong> {{ event.judul_event }}/Kata/{{ kategori.judul_kategori }}
        {% if putra_url in request.path %}
          (Putra)
        {% elif putri_url in request.path %}
          (Putri)
        {% endif %}
        {% if internal %}
          (Internal)
        {% elif external %}
          (External)
        {% endif %}
        
    </h1>
    <hr>

    <div id="medaliform">
      <form action="" method="post">
        <section id="bracket">
          {% csrf_token %}
          <div class="container" style="margin-top: -50px;">
            <div class="split split-one">
              <div class="round round-one current">
                <div class="round-details"></div>
                {% for i in num_loops1 %}
                <b style="margin-top: 10px;">
                  {% if i == 3 %}
                  3A
                  {% elif i == 4 %}
                  3B
                  {% else %}
                  {{ i }}
                  {% endif %}
                </b>
                  <ul class="matchup">
                    <li class="team team-top top" style="width: 70%">
                      <select name="team1" placeholder="-">
                        <option value="">-</option>
                        {% if putra_url in request.path %}
                          {% if internal %}
                            {% for atlet_putra_internal in atlet_putra_internal %}
                              <option value="{{ atlet_putra_internal.id_atlet }}">{{ atlet_putra_internal }}</option>
                            {% endfor %}
                          {% elif external %}
                            {% for atlet_putra_external in atlet_putra_external %}
                              <option value="{{ atlet_putra_external.id_atlet }}">{{ atlet_putra_external }}</option>
                            {% endfor %}
                          {% endif %}
                          {% elif putri_url in request.path %}
                            {% if internal %}
                              {% for atlet_putri_internal in atlet_putri_internal %}
                                <option value="{{ atlet_putri_internal.id_atlet }}">{{ atlet_putri_internal }}</option>
                              {% endfor %}
                            {% elif external %}
                              {% for atlet_putri_external in atlet_putri_external %}
                                <option value="{{ atlet_putri_external.id_atlet }}">{{ atlet_putri_external }}</option>
                              {% endfor %}
                          {% endif %}
                        {% endif %}
                      </select>
                    </li>
                    <li class="team team-bottom bottom" style="width: 70%">
                      <select name="team2" placeholder="-">
                        <option value="">-</option>
                        {% if putra_url in request.path %}
                            {% if internal %}
                              {% for atlet_putra_internal in atlet_putra_internal %}
                                <option value="{{ atlet_putra_internal.id_atlet }}">{{ atlet_putra_internal }}</option>
                              {% endfor %}
                            {% elif external %}
                              {% for atlet_putra_external in atlet_putra_external %}
                                <option value="{{ atlet_putra_external.id_atlet }}">{{ atlet_putra_external }}</option>
                              {% endfor %}
                            {% endif %}
                        {% elif putri_url in request.path %}
                            {% if internal %}
                              {% for atlet_putri_internal in atlet_putri_internal %}
                                <option value="{{ atlet_putri_internal.id_atlet }}">{{ atlet_putri_internal }}</option>
                              {% endfor %}
                            {% elif external %}
                              {% for atlet_putri_external in atlet_putri_external %}
                                <option value="{{ atlet_putri_external.id_atlet }}">{{ atlet_putri_external }}</option>
                              {% endfor %}
                            {% endif %}
                        {% endif %}
                      </select>
                    </li>
                  </ul>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
        {% comment %} <input type="checkbox" id="ranking" name="ranking">
        <label for="ranking"><b>Ranking System</b></label> {% endcomment %}
        <br>
        <input type="hidden" name="banyaknya_juri" value="{{ banyaknya_juri }}">
        <button type="submit" class="btn btn-success" style="margin-top: 10px">
          <i class="align-middle me-2" data-feather="file-text"></i>Tambah
        </button>
      </form>
    </div>
    <hr>
        {% if putra_url in request.path and kategori.judul_kategori == kategori.judul_kategori %}
        <a href="{% url 'keldetailkategori' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putra' %}">
          <button class="btn btn-danger" style="margin-top: 10px">
            <i class="align-middle me-2" data-feather="arrow-left"></i>Kembali
          </button>
        </a>
        {% elif putri_url in request.path and kategori.judul_kategori == kategori.judul_kategori %}
        <a href="{% url 'keldetailkategori' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putri' %}">
          <button class="btn btn-danger" style="margin-top: 10px">
            <i class="align-middle me-2" data-feather="arrow-left"></i>Kembali
          </button>
        </a>
        {% endif %}
    
      <script>
        function rank() {
          var rank = document.getElementById("rank");
          var medali = document.getElementById("medali");
          var rankform = document.getElementById("rankform");
          var medaliform = document.getElementById("medaliform");

          if (rank.classList.contains("btn-dark")) {
            
          } else {
            rank.classList.add("btn-dark");
            medali.classList.remove("btn-dark");
            rankform.style.display = "block";
            medaliform.style.display = "none";
          }
        }

        function medali() {
          var rank = document.getElementById("rank");
          var medali = document.getElementById("medali");
          var rankform = document.getElementById("rankform");
          var medaliform = document.getElementById("medaliform");

          if (medali.classList.contains("btn-dark")) {

          } else {
            rank.classList.remove("btn-dark");
            medali.classList.add("btn-dark");
            rankform.style.display = "none";
            medaliform.style.display = "block";
          }
        }

      </script>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.29.0/dist/feather.min.js"></script>
      <script type="text/javascript">
        feather.replace();

        $("[id^='rowAdder']").click(function () {
          const counter = $(this).data("counter");
            newRowAdd =
                '<div id="row"> <div class="input-group m-3">' +
                '<div class="input-group-prepend">' +
                `<select name="team${counter}" placeholder="-" style="border-radius: 10px 0px 0px 10px;"> <option value="">-</option>` +
                '{% if putra_url in request.path %} {% if internal %} {% for atlet_putra_internal in atlet_putra_internal %}' +
                '<option value="{{ atlet_putra_internal.id_atlet }}">{{ atlet_putra_internal }}</option>' +
                '{% endfor %} {% elif external %} {% for atlet_putra_external in atlet_putra_external %}' +
                '<option value="{{ atlet_putra_external.id_atlet }}">{{ atlet_putra_external }}</option>' +
                '{% endfor %} {% endif %} {% elif putri_url in request.path %} {% if internal %} {% for atlet_putri_internal in atlet_putri_internal %}' +
                '<option value="{{ atlet_putri_internal.id_atlet }}">{{ atlet_putri_internal }}</option>' +
                '{% endfor %} {% elif external %} {% for atlet_putri_external in atlet_putri_external %}' +
                '<option value="{{ atlet_putri_external.id_atlet }}">{{ atlet_putri_external }}</option>' +
                '{% endfor %} {% endif %} {% endif %}' +
                '</select>' +
                `<button class="btn btn-danger" id="DeleteRow${counter}" type="button" style="border-radius: 0px 10px 10px 0px;">` +
                '<i data-feather="file-text"></i> Delete</button> </div>' +
                '</div> </div>';
 
            $(`#newinput${counter}`).append(newRowAdd);
        });
        $("body").on("click", "[id^='DeleteRow']", function () {
            $(this).parents("[id^='row']").remove();
        })
    </script>
{% endblock %}
