{% extends 'event/eventbase.html' %} {% load static %}

{% block title %}
    {{ event.judul_event }} | {{ kategori.judul_kategori }} | Ambrilindo
{% endblock title %}

{% block content %}
    {% url 'keldetailkategori' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putra' as putra_url %}
    {% url 'keldetailkategori' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putri' as putri_url %}
    <h1 class="h3 mb-3"><strong>Detail Score</strong></h1>
    <h4>{{ bagan.judul_bagan }}</h4>

    <hr>
    <div class="row" style="margin-top: 10px;">
        {% if bagan.bendera == True %}
        <span style="margin-bottom: 10px;">
            <b style="color: red; font-size: 30px;">{{ atlet1 }}</b> 
            <b style="font-size: 30px;">vs</b> 
            <b style="color: blue; font-size: 30px;">{{ atlet2 }}</b>
        </span>
        <br>
        {% endif %}
        <div class="d-flex order-1 order-xxl-1">
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title mb-0">Scoring <b>{{ tatami }}</b></h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                {% if bagan.bendera != True %}
                                <th>Nama</th>
                                {% endif %}
                                <th>Juri 1</th>
                                <th>Juri 2</th>
                                <th>Juri 3</th>
                                {% if penilaian_juri != 3 %}
                                <th>Juri 4</th>
                                <th>Juri 5</th>
                                {% endif %}
                                {% if penilaian_juri == 7 %}
                                <th>Juri 6</th>
                                <th>Juri 7</th>
                                {% endif %}
                                {% if bagan.bendera != True %}
                                <th>Total</th>
                                {% else %}
                                <th>Winner</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if detailbagan.id_atlet.count == 1 %}
                            <tr>
                                <td><b>{{ atlet1 }}</b></td>
                                {% if group1 == 'biru' %}
                                <!-- Score 1 -->
                                <td id="score2j1" style="font-size: 30px;">
                                    <b>
                                        {% if score2j1.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j1.jury_score }}</span>
                                        {% elif score2j1.terendah %}
                                        <span class="badge bg-danger">{{ score2j1.jury_score }}</span>
                                        {% else %}
                                        {{ score2j1.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 2 -->
                                <td id="score2j2" style="font-size: 30px;">
                                    <b>
                                        {% if score2j2.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j2.jury_score }}</span>
                                        {% elif score2j2.terendah %}
                                        <span class="badge bg-danger">{{ score2j2.jury_score }}</span>
                                        {% else %}
                                        {{ score2j2.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 3 -->
                                <td id="score2j3" style="font-size: 30px;">
                                    <b>
                                        {% if score2j3.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j3.jury_score }}</span>
                                        {% elif score2j3.terendah %}
                                        <span class="badge bg-danger">{{ score2j3.jury_score }}</span>
                                        {% else %}
                                        {{ score2j3.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% if penilaian_juri != 3 %}
                                <!-- Score 4 -->
                                <td id="score2j4" style="font-size: 30px;">
                                    <b>
                                        {% if score2j4.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j4.jury_score }}</span>
                                        {% elif score2j4.terendah %}
                                        <span class="badge bg-danger">{{ score2j4.jury_score }}</span>
                                        {% else %}
                                        {{ score2j4.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 5 -->
                                <td id="score2j5" style="font-size: 30px;">
                                    <b>
                                        {% if score2j5.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j5.jury_score }}</span>
                                        {% elif score2j5.terendah %}
                                        <span class="badge bg-danger">{{ score2j5.jury_score }}</span>
                                        {% else %}
                                        {{ score2j5.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% endif %}
                                {% if penilaian_juri == 7 %}
                                <!-- Score 6 -->
                                <td id="score2j6" style="font-size: 30px;">
                                    <b>
                                        {% if score2j6.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j6.jury_score }}</span>
                                        {% elif score2j6.terendah %}
                                        <span class="badge bg-danger">{{ score2j6.jury_score }}</span>
                                        {% else %}
                                        {{ score2j6.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 7 -->
                                <td id="score2j7" style="font-size: 30px;">
                                    <b>
                                        {% if score2j7.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j7.jury_score }}</span>
                                        {% elif score2j7.terendah %}
                                        <span class="badge bg-danger">{{ score2j7.jury_score }}</span>
                                        {% else %}
                                        {{ score2j7.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% endif %}
                                <td>
                                    <span id="totalscore2" class="badge bg-dark" style="font-size: 30px;">
                                        {% if totalscore2 %}
                                            {{ totalscore2.total }}
                                        {% else %}
                                            00.0
                                        {% endif %}
                                    </span>
                                </td>
                                {% else %}
                                <!-- Score 1 -->
                                <td id="score1j1" style="font-size: 30px;">
                                    <b>
                                        {% if score1j1.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j1.jury_score }}</span>
                                        {% elif score1j1.terendah %}
                                        <span class="badge bg-danger">{{ score1j1.jury_score }}</span>
                                        {% else %}
                                        {{ score1j1.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 2 -->
                                <td id="score1j2" style="font-size: 30px;">
                                    <b>
                                        {% if score1j2.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j2.jury_score }}</span>
                                        {% elif score1j2.terendah %}
                                        <span class="badge bg-danger">{{ score1j2.jury_score }}</span>
                                        {% else %}
                                        {{ score1j2.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 3 -->
                                <td id="score1j3" style="font-size: 30px;">
                                    <b>
                                        {% if score1j3.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j3.jury_score }}</span>
                                        {% elif score1j3.terendah %}
                                        <span class="badge bg-danger">{{ score1j3.jury_score }}</span>
                                        {% else %}
                                        {{ score1j3.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% if penilaian_juri != 3 %}
                                <!-- Score 4 -->
                                <td id="score1j4" style="font-size: 30px;">
                                    <b>
                                        {% if score1j4.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j4.jury_score }}</span>
                                        {% elif score1j4.terendah %}
                                        <span class="badge bg-danger">{{ score1j4.jury_score }}</span>
                                        {% else %}
                                        {{ score1j4.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 5 -->
                                <td id="score1j5" style="font-size: 30px;">
                                    <b>
                                        {% if score1j5.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j5.jury_score }}</span>
                                        {% elif score1j5.terendah %}
                                        <span class="badge bg-danger">{{ score1j5.jury_score }}</span>
                                        {% else %}
                                        {{ score1j5.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% endif %}
                                {% if penilaian_juri == 7 %}
                                <!-- Score 6 -->
                                <td id="score1j6" style="font-size: 30px;">
                                    <b>
                                        {% if score1j6.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j6.jury_score }}</span>
                                        {% elif score1j6.terendah %}
                                        <span class="badge bg-danger">{{ score1j6.jury_score }}</span>
                                        {% else %}
                                        {{ score1j6.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 7 -->
                                <td id="score1j7" style="font-size: 30px;">
                                    <b>
                                        {% if score1j7.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j7.jury_score }}</span>
                                        {% elif score1j7.terendah %}
                                        <span class="badge bg-danger">{{ score1j7.jury_score }}</span>
                                        {% else %}
                                        {{ score1j7.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% endif %}

                                <td>
                                    <span id="totalscore1" class="badge bg-dark" style="font-size: 30px;">
                                        {% if totalscore1 %}
                                            {{ totalscore1.total }}
                                        {% else %}
                                            00.0
                                        {% endif %}
                                    </span>
                                </td>
                                {% endif %}
                            </tr>

                            {% elif detailbagan.id_atlet.count == 2 %}
                            <tr>
                                {% if bagan.bendera != True %}
                                <td><b>{{ atlet1 }}</b></td>
                                {% endif %}
                                <!-- Score 1 -->
                                <td id="score1j1" style="font-size: 30px;">
                                    <b>
                                        {% if bagan.bendera != True %}
                                            {% if score1j1.tertinggi %}
                                            <span class="badge bg-primary">{{ score1j1.jury_score }}</span>
                                            {% elif score1j1.terendah %}
                                            <span class="badge bg-danger">{{ score1j1.jury_score }}</span>
                                            {% else %}
                                            {{ score1j1.jury_score }}
                                            {% endif %}
                                        {% else %}
                                            {% if score1j1.jury_score == 20 %}
                                                <img src="{% static 'images/bendera-merah.png' %}" alt="" style="width: 50px">
                                            {% else %}
                                                <img src="{% static 'images/bendera-biru.png' %}" alt="" style="width: 50px">
                                            {% endif %}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 2 -->
                                <td id="score1j2" style="font-size: 30px;">
                                    <b>
                                        {% if bagan.bendera != True %}
                                            {% if score1j2.tertinggi %}
                                            <span class="badge bg-primary">{{ score1j2.jury_score }}</span>
                                            {% elif score1j2.terendah %}
                                            <span class="badge bg-danger">{{ score1j2.jury_score }}</span>
                                            {% else %}
                                            {{ score1j2.jury_score }}
                                            {% endif %}
                                        {% else %}
                                            {% if score1j2.jury_score == 20 %}
                                                <img src="{% static 'images/bendera-merah.png' %}" alt="" style="width: 50px">
                                            {% else %}
                                                <img src="{% static 'images/bendera-biru.png' %}" alt="" style="width: 50px">
                                            {% endif %}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 3 -->
                                <td id="score1j3" style="font-size: 30px;">
                                    <b>
                                        {% if bagan.bendera != True %}
                                            {% if score1j3.tertinggi %}
                                            <span class="badge bg-primary">{{ score1j3.jury_score }}</span>
                                            {% elif score1j3.terendah %}
                                            <span class="badge bg-danger">{{ score1j3.jury_score }}</span>
                                            {% else %}
                                            {{ score1j3.jury_score }}
                                            {% endif %}
                                        {% else %}
                                            {% if score1j3.jury_score == 20 %}
                                                <img src="{% static 'images/bendera-merah.png' %}" alt="" style="width: 50px">
                                            {% else %}
                                                <img src="{% static 'images/bendera-biru.png' %}" alt="" style="width: 50px">
                                            {% endif %}
                                        {% endif %}
                                    </b>
                                </td>
                                {% if penilaian_juri != 3 %}
                                <!-- Score 4 -->
                                <td id="score1j4" style="font-size: 30px;">
                                    <b>
                                        {% if bagan.bendera != True %}
                                            {% if score1j4.tertinggi %}
                                            <span class="badge bg-primary">{{ score1j4.jury_score }}</span>
                                            {% elif score1j4.terendah %}
                                            <span class="badge bg-danger">{{ score1j4.jury_score }}</span>
                                            {% else %}
                                            {{ score1j4.jury_score }}
                                            {% endif %}
                                        {% else %}
                                            {% if score1j4.jury_score == 20 %}
                                                <img src="{% static 'images/bendera-merah.png' %}" alt="" style="width: 50px">
                                            {% else %}
                                                <img src="{% static 'images/bendera-biru.png' %}" alt="" style="width: 50px">
                                            {% endif %}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 5 -->
                                <td id="score1j5" style="font-size: 30px;">
                                    <b>
                                        {% if bagan.bendera != True %}
                                            {% if score1j5.tertinggi %}
                                            <span class="badge bg-primary">{{ score1j5.jury_score }}</span>
                                            {% elif score1j5.terendah %}
                                            <span class="badge bg-danger">{{ score1j5.jury_score }}</span>
                                            {% else %}
                                            {{ score1j5.jury_score }}
                                            {% endif %}
                                        {% else %}
                                            {% if score1j5.jury_score == 20 %}
                                                <img src="{% static 'images/bendera-merah.png' %}" alt="" style="width: 50px">
                                            {% else %}
                                                <img src="{% static 'images/bendera-biru.png' %}" alt="" style="width: 50px">
                                            {% endif %}
                                        {% endif %}
                                    </b>
                                </td>
                                {% endif %}
                                {% if penilaian_juri == 7 %}
                                <!-- Score 6 -->
                                <td id="score1j6" style="font-size: 30px;">
                                    <b>
                                        {% if score1j6.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j6.jury_score }}</span>
                                        {% elif score1j6.terendah %}
                                        <span class="badge bg-danger">{{ score1j6.jury_score }}</span>
                                        {% else %}
                                        {{ score1j6.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 7 -->
                                <td id="score1j7" style="font-size: 30px;">
                                    <b>
                                        {% if score1j7.tertinggi %}
                                        <span class="badge bg-primary">{{ score1j7.jury_score }}</span>
                                        {% elif score1j7.terendah %}
                                        <span class="badge bg-danger">{{ score1j7.jury_score }}</span>
                                        {% else %}
                                        {{ score1j7.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% endif %}
                                <td>
                                    <span id="totalscore1" class="badge bg-dark" style="font-size: 30px;">
                                        {% if bagan.bendera != True %}
                                            {% if totalscore1 %}
                                                {{ totalscore1.total }}
                                            {% else %}
                                                00.0
                                            {% endif %}
                                        {% else %}
                                            {% if winner == 'merah' %}
                                                <img src="{% static 'images/bendera-merah.png' %}" style="width: 70px" alt="">
                                            {% else %}
                                                <img src="{% static 'images/bendera-biru.png' %}" style="width: 63px" alt="">
                                            {% endif %}
                                        {% endif %}
                                    </span>

                                </td>
                            </tr>
                            {% if bagan.bendera != True %}
                            <tr>
                                <td><b>{{ atlet2 }}</b></td>
                                <td id="score2j1" style="font-size: 30px;">
                                    <b>
                                        {% if score2j1.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j1.jury_score }}</span>
                                        {% elif score2j1.terendah %}
                                        <span class="badge bg-danger">{{ score2j1.jury_score }}</span>
                                        {% else %}
                                        {{ score2j1.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 2 -->
                                <td id="score2j2" style="font-size: 30px;">
                                    <b>
                                        {% if score2j2.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j2.jury_score }}</span>
                                        {% elif score2j2.terendah %}
                                        <span class="badge bg-danger">{{ score2j2.jury_score }}</span>
                                        {% else %}
                                        {{ score2j2.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 3 -->
                                <td id="score2j3" style="font-size: 30px;">
                                    <b>
                                        {% if score2j3.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j3.jury_score }}</span>
                                        {% elif score2j3.terendah %}
                                        <span class="badge bg-danger">{{ score2j3.jury_score }}</span>
                                        {% else %}
                                        {{ score2j3.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% if penilaian_juri != 3 %}
                                <!-- Score 4 -->
                                <td id="score2j4" style="font-size: 30px;">
                                    <b>
                                        {% if score2j4.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j4.jury_score }}</span>
                                        {% elif score2j4.terendah %}
                                        <span class="badge bg-danger">{{ score2j4.jury_score }}</span>
                                        {% else %}
                                        {{ score2j4.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 5 -->
                                <td id="score2j5" style="font-size: 30px;">
                                    <b>
                                        {% if score2j5.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j5.jury_score }}</span>
                                        {% elif score2j5.terendah %}
                                        <span class="badge bg-danger">{{ score2j5.jury_score }}</span>
                                        {% else %}
                                        {{ score2j5.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% endif %}
                                {% if penilaian_juri == 7 %}
                                <!-- Score 6 -->
                                <td id="score2j6" style="font-size: 30px;">
                                    <b>
                                        {% if score2j6.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j6.jury_score }}</span>
                                        {% elif score2j6.terendah %}
                                        <span class="badge bg-danger">{{ score2j6.jury_score }}</span>
                                        {% else %}
                                        {{ score2j6.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                <!-- Score 7 -->
                                <td id="score2j7" style="font-size: 30px;">
                                    <b>
                                        {% if score2j7.tertinggi %}
                                        <span class="badge bg-primary">{{ score2j7.jury_score }}</span>
                                        {% elif score2j7.terendah %}
                                        <span class="badge bg-danger">{{ score2j7.jury_score }}</span>
                                        {% else %}
                                        {{ score2j7.jury_score }}
                                        {% endif %}
                                    </b>
                                </td>
                                {% endif %}
                                <td>
                                    <span id="totalscore2" class="badge bg-dark" style="font-size: 30px;">
                                        {% if totalscore2 %}
                                            {{ totalscore2.total }}
                                        {% else %}
                                            00.0
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                            {% endif %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if putra_url in request.path and kategori.judul_kategori == kategori.judul_kategori %}
        <a href="{% url 'keldetailbagan' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putra' pk=bagan.pk %}">
          <button class="btn btn-danger" style="margin-top: 10px">
            <i class="align-middle me-2" data-feather="arrow-left"></i>Kembali
          </button>
        </a>
    {% elif putri_url in request.path and kategori.judul_kategori == kategori.judul_kategori %}
        <a href="{% url 'keldetailbagan' event_slug=event.slug kategori_slug=kategori.slug jenis_kelamin='putri' pk=bagan.pk %}">
          <button class="btn btn-danger" style="margin-top: 10px">
            <i class="align-middle me-2" data-feather="arrow-left"></i>Kembali
          </button>
        </a>
    {% endif %}

    {% endblock content %}